<div class="jform-header">
    <div class="container-boxed max">
        <div class="jform-steps">
            <ul class="jsteps jsteps-6">
                <li class="
                {{#compare step 1 operator="=="}}
                    active
                {{/compare}}
                    {{#compare step 1 operator=">"}}
                    completed
                {{/compare}}
                ">
                    <span class="jstep-num">
                        {{#compare step 1 operator="<="}}
                            <a href="/resume/proceedTo/1">1</a>
                        {{/compare}}
                        {{#compare step 1 operator=">"}}
                            <a href="/resume/proceedTo/1"><i class="fa fa-check"></i></a>
                        {{/compare}}
                    </span>
                    <div class="jstep-line">
                        <span class="jstep-dot"></span>
                    </div>
                    <div class="jstep-label">Personal Info</div>
                </li>
                <li class="
                {{#compare step 2 operator="=="}}
                    active
                {{/compare}}
                {{#compare step 2 operator=">"}}
                    completed
                {{/compare}}
                ">
                    <span class="jstep-num">
                        {{#compare step 2 operator="<="}}
                            <a href="javascript:void(0);">2</a>
                        {{/compare}}
                        {{#compare step 2 operator=">"}}
                            <a href="/resume/proceedTo/2"><i class="fa fa-check"></i></a>
                        {{/compare}}
                    </span>
                    <div class="jstep-line">
                        <span class="jstep-dot"></span>
                    </div>
                    <div class="jstep-label">Headline</div>
                </li>
                <li class="
                {{#compare step 3 operator="=="}}
                    active
                {{/compare}}
                    {{#compare step 3 operator=">"}}
                    completed
                {{/compare}}
                ">
                    <span class="jstep-num">
                        {{#compare step 3 operator="<="}}
                            <a href="javascript:void(0);">3</a>
                        {{/compare}}
                        {{#compare step 3 operator=">"}}
                            <a href="/resume/proceedTo/3"><i class="fa fa-check"></i></a>
                        {{/compare}}
                    </span>
                    <div class="jstep-line">
                        <span class="jstep-dot"></span>
                    </div>
                    <div class="jstep-label">Role and Skill</div>
                </li>
                <li class="
                {{#compare step 4 operator="=="}}
                    active
                {{/compare}}
                    {{#compare step 4 operator=">"}}
                    completed
                {{/compare}}
                ">
                    <span class="jstep-num">
                        {{#compare step 4 operator="<="}}
                            <a href="javascript:void(0);">4</a>
                        {{/compare}}
                        {{#compare step 4 operator=">"}}
                            <a href="/resume/proceedTo/4"><i class="fa fa-check"></i></a>
                        {{/compare}}
                    </span>
                    <div class="jstep-line">
                        <span class="jstep-dot"></span>
                    </div>
                    <div class="jstep-label">Reference and Identity</div>
                </li>
                <li class="
                {{#compare step 5 operator="=="}}
                    active
                {{/compare}}
                    {{#compare step 5 operator=">"}}
                    completed
                {{/compare}}
                ">
                    <span class="jstep-num">
                        {{#compare step 5 operator="<="}}
                            <a href="javascript:void(0);">5</a>
                        {{/compare}}
                        {{#compare step 5 operator=">"}}
                            <a href="/resume/proceedTo/5"><i class="fa fa-check"></i></a>
                        {{/compare}}
                    </span>
                    <div class="jstep-line">
                        <span class="jstep-dot"></span>
                    </div>
                    <div class="jstep-label">Work and Education</div>
                </li>
                <li class="
                {{#compare step 6 operator="=="}}
                    active
                {{/compare}}
                    {{#compare step 6 operator=">"}}
                    completed
                {{/compare}}
                ">
                    <span class="jstep-num">
                        {{#compare step 6 operator="<="}}
                            <a href="javascript:void(0);">6</a>
                        {{/compare}}
                        {{#compare step 6 operator=">"}}
                            <a href="/resume/proceedTo/6"><i class="fa fa-check"></i></a>
                        {{/compare}}
                    </span>
                    <div class="jstep-line">
                        <span class="jstep-dot"></span>
                    </div>
                    <div class="jstep-label">Portofolio</div>
                </li>
            </ul>
        </div>
    </div>
</div>