<div class="container-wrap">
    <div class="main-content container-fullwidth">
        <div class="row">
            <div class="noo-main col-md-12">
                <div class="jform">
                    {{>resumeHeader}}
                    <div class="jform-body">
                        <div class="container-boxed max">
                            <form class="form-horizontal" enctype="multipart/form-data">
                                <div class="jstep-content">
                                    <div class="jpanel jpanel-resume-form">
                                        <div class="jpanel-title">
                                            <h3>{{title}}</h3>
                                        </div>
                                        <div class="jpanel-body">
                                            <div class="resume-candidate-profile">
                                                <div class="resume-form">
                                                    <div class="resume-form-general row">
                                                        <div class="col-sm-8 col-sm-offset-2">
                                                            <div class="col-sm-12">
                                                                <label for="desc" class="control-label">What area are you most interested in?</label>
                                                                <div class="btn-group" data-toggle="buttons">
                                                                    <label class="btn btn-primary radio-label">
                                                                        <input type="radio" class="radio-btn" name="options" id="option1" autocomplete="off">
                                                                        <label for="radio1">Software Engineer</label>
                                                                    </label>
                                                                    <label class="btn btn-primary radio-label">
                                                                        <input type="radio" class="radio-btn" name="options" id="option1" autocomplete="off">
                                                                        <label for="radio1">Design</label>
                                                                    </label>
                                                                    <label class="btn btn-primary radio-label">
                                                                        <input type="radio" class="radio-btn" name="options" id="option1" autocomplete="off">
                                                                        <label for="radio1">Data Scientist</label>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <div class="resume-form-general row">
                                                        <div class="col-sm-8 col-sm-offset-2">
                                                            <div class="col-sm-12">
                                                                <label for="desc" class="control-label">How many years of work experience do you have?</label>
                                                                <div class="btn-group" data-toggle="buttons">
                                                                    <label class="btn btn-primary radio-label">
                                                                        <input type="radio" class="radio-btn" name="options" id="option1" autocomplete="off">
                                                                        <label for="radio1">0-1</label>
                                                                    </label>
                                                                    <label class="btn btn-primary radio-label">
                                                                        <input type="radio" class="radio-btn" name="options" id="option1" autocomplete="off">
                                                                        <label for="radio1">1-2</label>
                                                                    </label>
                                                                    <label class="btn btn-primary radio-label">
                                                                        <input type="radio" class="radio-btn" name="options" id="option1" autocomplete="off">
                                                                        <label for="radio1">2-4</label>
                                                                    </label>
                                                                    <label class="btn btn-primary radio-label">
                                                                        <input type="radio" class="radio-btn" name="options" id="option1" autocomplete="off">
                                                                        <label for="radio1">4-6</label>
                                                                    </label>
                                                                    <label class="btn btn-primary radio-label">
                                                                        <input type="radio" class="radio-btn" name="options" id="option1" autocomplete="off">
                                                                        <label for="radio1">6+</label>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <div class="resume-form-general row">
                                                        <div class="col-sm-8 col-sm-offset-2">
                                                            <div class="col-sm-12">
                                                                <label for="desc" class="control-label">What roles are you most interested in?</label>
                                                                <div class="btn-group" data-toggle="buttons">
                                                                    <label class="btn btn-primary radio-label">
                                                                        <input type="checkbox" class="radio-btn" name="options" id="option1" autocomplete="off">
                                                                        <label for="radio1">Backend Engineer</label>
                                                                    </label>
                                                                    <label class="btn btn-primary radio-label">
                                                                        <input type="checkbox" class="radio-btn" name="options" id="option1" autocomplete="off">
                                                                        <label for="radio1">Frontend Engineer</label>
                                                                    </label>
                                                                    <label class="btn btn-primary radio-label">
                                                                        <input type="checkbox" class="radio-btn" name="options" id="option1" autocomplete="off">
                                                                        <label for="radio1">Full Stack Engineer</label>
                                                                    </label>
                                                                    <label class="btn btn-primary radio-label">
                                                                        <input type="checkbox" class="radio-btn" name="options" id="option1" autocomplete="off">
                                                                        <label for="radio1">Database Administrator</label>
                                                                    </label>
                                                                    <label class="btn btn-primary radio-label">
                                                                        <input type="checkbox" class="radio-btn" name="options" id="option1" autocomplete="off">
                                                                        <label for="radio1">DevOps Engineer</label>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <div class="resume-form-general row">
                                                        <div class="col-sm-8 col-sm-offset-2">
                                                            <div class="col-sm-12">
                                                                <label for="desc" class="control-label">In your own words, describe your preferences around the role you are looking for:</label>
                                                                <div class="col-sm-12">
                                                                    <input type="text" class="form-control" id="mostSearch" name="mostSearch">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="resume-form-general row">
                                                        <div class="col-sm-8 col-sm-offset-2">
                                                            <div class="col-sm-12">
                                                                <label for="desc" class="control-label">What are your top skills? (up to 5)</label>
                                                                <div class="col-sm-12">
                                                                    <input type="text" class="form-control" id="topSkill" name="topSkill">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="resume-form-general row">
                                                        <div class="col-sm-8 col-sm-offset-2">
                                                            <div class="col-sm-12">
                                                                <label for="desc" class="control-label">What are your additional skills? </label>
                                                                <div class="col-sm-12">
                                                                    <input type="text" class="form-control" id="additionalSkill" name="additionalSkill">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6 form-actions form-group text-center clearfix">
                                                <a href="/resume/proceedTo/{{calculate step 1 "-"}}" class="btn btn-primary">Go Back</a>
                                            </div>
                                            <div class="col-sm-6 form-actions form-group text-center clearfix">
                                                <a href="/resume/proceedTo/{{calculate step 1 "+"}}" class="btn btn-primary">Save and Next</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>